  body {
    transition: padding .2s;
    height: auto !important;
    position: relative;
  }
  
  :global(.App) {
    display: block;
    padding: 20px 0 0 220px;
  }

  :global(#LeftPad) {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    background-color: #001529;
    transition: padding .2s;
  }

  :global(body.side-collapsed #LeftPad) {
    width: 80px;
  }

  :global(body.side-collapsed .App) {
    padding-left: 100px;
  }

  header.header {
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    background-color: #fff;
    padding-left: 200px;
    padding-right: 0;
    width: 100%;
    transition: all 0.2s;
  }

  :global(.collapsed) ~ .header {
    padding-left: 80px;
  }
  
  aside.sider {
    width: 250px;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
  }
  
  .sideToggler {
    display: inline-block;
    width: 64px;
    height: 63px;
    line-height: 64px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s ease-out;
    border: none;
  
    &:hover {
      color: #1890ff;
      background-color: #f9f9fc;
    }
  
    &:focus, &:active {
      outline: none;
    }

    &::before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: ' ';
    }
    
  }
  
  .avatar {
    float: right;
    margin-right: 16px;
  }
  
  .avatarImg {
    margin-right: 6px;
    transform: translateY(-3px);
  }
  
  .body {
    margin: 0;
  }
  
  .footer {
    padding-bottom: 6px;
    text-align: center;
  }
  
  .logo {
    background-image: url('https://lh3.googleusercontent.com/OVyQfJbS3ixM7PXTDdp_6nyItidTmCRBnwGVXNU8aYyZZWlz1a36HzzSNSHP4-hYA493VIlldvOJ8n6Ai_yyO_uty4Uo0PNTO8FMPeTzrrikizTnALlTcOcjiwwIdaxBTruMlwwlEQd0DahXZ7ZikpO-CHBFRhKjf_wPpWcaCuhI5YsVJIyi6o0FsbMVSZZSS9ERsPXVtKU7ew9_6GuWF2oiksXZt1AEg_cOrd7EfeF2X5ANXXfdsQ1WEw5BLU_28VWQF_UKKh5tC8nUCzEZmgHUVm8EIasEQdVC0htXdGkVTQAK5D_CTdHsZZsxkG04n1FughHXpms4gWroKX15hoMibeb1n12OEk_cIktTm21y6sTlWs1j-fVX53TSyjCs0jiXMZmmSVTNlhaZrk11uQNJKeaGLr-sb03QWESe45DivR8M7wyHSOVm9he5MnDYN-UthMWs18sEf8Z-KU8LVNWmHBJc8T7Ft1ATrf-H1vzLcjpjvtSUdeSNAqzaLnxSG3ltkY9romGnYWpeXRmVNIjDUURtDF8Hcu3lpkVQ67vSYrk9SqCZsm3zrGZafb5FAbClZ6nPV0vi1YwGuoyskazrDiw6W8dAnGbXbvhcUwVcPMssaunrTZ9cg0pQfqyW7fnvNtftenBlzYYklvjlmsn_wzDwXLGRRbHJzZXZCtMgd0qKtGmXsjg0z6yV-pW7K1h2EAaIepA0LsMl7Kic0rvRAVqHxwYD8lF7kBC-FbzuGuuPHZZYqR0=w702-h292-no');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    background-size: contain;
    margin: auto auto;
    background-color: rgba(0, 40, 77, 1);
  }
  
  :global(.ant-layout-sider-collapsed) .logo {
    background-size: 150px;
    background-position: 6px;
    width: 56px;
    height: 56px;
    margin-top: 6px;
  }